<html>
	<head>
		<title>ResComp To-Do</title>
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
	</head>
	<body>
		<h1 class="text-center">ResComp To-Do</h1>
		<div class="navbar-form text-center">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Add a To-Do">
			</div>
			<button type="submit" id="add" class="btn btn-primary">Add</button>
		</div>
	</body>
</html>
